USE [RentACarDB]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 9.06.2024 16:46:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [nvarchar](50) NOT NULL,
	[AdminLastName] [nvarchar](50) NOT NULL,
	[AdminPhoto] [nvarchar](50) NOT NULL,
	[AdminPhoneNumber] [nvarchar](50) NOT NULL,
	[AdminUserName] [nvarchar](50) NOT NULL,
	[AdminPassword] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 9.06.2024 16:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] NOT NULL,
	[CityName] [nvarchar](20) NOT NULL,
	[PlateNumber] [int] NOT NULL,
	[PhoneCode] [int] NOT NULL,
	[RowNumber] [int] NOT NULL,
 CONSTRAINT [PK_Sehirler] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 9.06.2024 16:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactEposta] [nvarchar](50) NULL,
	[ContactKonu] [nvarchar](50) NULL,
	[ContactMessage] [nvarchar](200) NULL,
	[ContactRead] [bit] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9.06.2024 16:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerLastName] [nvarchar](50) NULL,
	[CustomerPhoneNumber] [nvarchar](50) NULL,
	[CustomerEmail] [nvarchar](50) NULL,
	[CustomerUserName] [nvarchar](50) NULL,
	[CustomerPassword] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 9.06.2024 16:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictID] [int] NOT NULL,
	[CityID] [int] NOT NULL,
	[DistrictName] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_Ilceler] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 9.06.2024 16:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationStart] [date] NULL,
	[ReservationFinish] [date] NULL,
	[ReservationOn] [bit] NULL,
	[CityName] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerLastName] [nvarchar](50) NULL,
	[VehicleBrand] [nvarchar](50) NULL,
	[VehicleModel] [nvarchar](50) NULL,
	[CustomerEmail] [nvarchar](50) NULL,
	[CustomerPhoneNumber] [nvarchar](50) NULL,
	[ReservationPrice] [nvarchar](50) NULL,
	[ReservationDay] [nvarchar](50) NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehiclePhotos]    Script Date: 9.06.2024 16:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiclePhotos](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[VehiclePhotoPath] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_VehiclePhotos] PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 9.06.2024 16:46:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
	[District] [nvarchar](50) NULL,
	[VehicleBrand] [nvarchar](50) NULL,
	[VehicleModel] [nvarchar](50) NULL,
	[VehicleColor] [nvarchar](50) NULL,
	[VehicleFuel] [nvarchar](50) NULL,
	[VehicleFuelAmount] [nvarchar](50) NULL,
	[VehiclePhoto] [nvarchar](max) NULL,
	[VehiclePrice] [int] NULL,
	[VehicleActive] [bit] NULL,
 CONSTRAINT [PK_Vehicles] PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [AdminName], [AdminLastName], [AdminPhoto], [AdminPhoneNumber], [AdminUserName], [AdminPassword]) VALUES (1, N'Enes', N'Öksüz', N'YOK', N'5555', N'enes', N'1234')
INSERT [dbo].[Admins] ([AdminID], [AdminName], [AdminLastName], [AdminPhoto], [AdminPhoneNumber], [AdminUserName], [AdminPassword]) VALUES (2, N'Enes', N'Öksüzz', N'YOK', N'434343', N'enesss', N'12344')
SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
INSERT [dbo].[Cities] ([CityID], [CityName], [PlateNumber], [PhoneCode], [RowNumber]) VALUES (1, N'DÜZCE', 81, 380, 82)
INSERT [dbo].[Cities] ([CityID], [CityName], [PlateNumber], [PhoneCode], [RowNumber]) VALUES (2, N'OSMANİYE', 80, 328, 81)
INSERT [dbo].[Cities] ([CityID], [CityName], [PlateNumber], [PhoneCode], [RowNumber]) VALUES (3, N'KİLİS', 79, 348, 80)
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactID], [ContactName], [ContactEposta], [ContactKonu], [ContactMessage], [ContactRead]) VALUES (4, N'Enes Öksüz', N'enesssss@sdas.com', N'sdkflds', N'asddıoksafasflşasfadsğü', 1)
INSERT [dbo].[Contacts] ([ContactID], [ContactName], [ContactEposta], [ContactKonu], [ContactMessage], [ContactRead]) VALUES (6, N'dfds', N'enesssss@sdas.com', N'dfs', N'dfs', 0)
INSERT [dbo].[Contacts] ([ContactID], [ContactName], [ContactEposta], [ContactKonu], [ContactMessage], [ContactRead]) VALUES (7, N'Enes', N'enesssss@sdas.com', N'dsad', N'asda', 0)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerLastName], [CustomerPhoneNumber], [CustomerEmail], [CustomerUserName], [CustomerPassword]) VALUES (21, N'Enes', N'Öksüz', N'5434938812', N'enesoksuz@gmail.com', N'enes', N'1234')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
INSERT [dbo].[Districts] ([DistrictID], [CityID], [DistrictName]) VALUES (1, 1, N'AKÇAKOCA')
INSERT [dbo].[Districts] ([DistrictID], [CityID], [DistrictName]) VALUES (2, 1, N'CUMAYERİ')
INSERT [dbo].[Districts] ([DistrictID], [CityID], [DistrictName]) VALUES (3, 1, N'ÇİLİMLİ')
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ReservationID], [ReservationStart], [ReservationFinish], [ReservationOn], [CityName], [District], [CustomerName], [CustomerLastName], [VehicleBrand], [VehicleModel], [CustomerEmail], [CustomerPhoneNumber], [ReservationPrice], [ReservationDay]) VALUES (20, CAST(N'2024-06-06' AS Date), CAST(N'2024-06-20' AS Date), 0, N'İzmir', N'Karşıyaka', N'Enes', N'Öksüz', N'Mercedes', N'c63', N'enesoksuz@gmail.com', N'5434938812', N'3108 TL', N'14')
INSERT [dbo].[Reservations] ([ReservationID], [ReservationStart], [ReservationFinish], [ReservationOn], [CityName], [District], [CustomerName], [CustomerLastName], [VehicleBrand], [VehicleModel], [CustomerEmail], [CustomerPhoneNumber], [ReservationPrice], [ReservationDay]) VALUES (21, CAST(N'2024-06-09' AS Date), CAST(N'2024-06-16' AS Date), 1, N'İzmir', N'Karşıyaka', N'Enes', N'Öksüz', N'Mercedes', N'c63', N'enesoksuz@gmail.com', N'5434938812', N'1554 TL', N'7')
INSERT [dbo].[Reservations] ([ReservationID], [ReservationStart], [ReservationFinish], [ReservationOn], [CityName], [District], [CustomerName], [CustomerLastName], [VehicleBrand], [VehicleModel], [CustomerEmail], [CustomerPhoneNumber], [ReservationPrice], [ReservationDay]) VALUES (22, CAST(N'2024-06-10' AS Date), CAST(N'2024-06-15' AS Date), 1, N'İzmir', N'Karşıyaka', N'Enes', N'Öksüz', N'Mercedes', N'c63', N'enesoksuz@gmail.com', N'5434938812', N'1110 TL', N'5')
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[VehiclePhotos] ON 

INSERT [dbo].[VehiclePhotos] ([PhotoID], [VehicleID], [VehiclePhotoPath]) VALUES (1, 1, N'/vehicleimages/a33.jpg')
INSERT [dbo].[VehiclePhotos] ([PhotoID], [VehicleID], [VehiclePhotoPath]) VALUES (2, 1, N'/vehicleimages/a33.jpg')
INSERT [dbo].[VehiclePhotos] ([PhotoID], [VehicleID], [VehiclePhotoPath]) VALUES (3, 1, N'/vehicleimages/a333.jpg')
SET IDENTITY_INSERT [dbo].[VehiclePhotos] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleID], [CityName], [District], [VehicleBrand], [VehicleModel], [VehicleColor], [VehicleFuel], [VehicleFuelAmount], [VehiclePhoto], [VehiclePrice], [VehicleActive]) VALUES (1, N'Ankara', N'Akyurt', N'Audi', N'a3', N'Beyaz', N'Dizel', N'5', N'/vehicleimages/a3.jpg', 1200, 1)
INSERT [dbo].[Vehicles] ([VehicleID], [CityName], [District], [VehicleBrand], [VehicleModel], [VehicleColor], [VehicleFuel], [VehicleFuelAmount], [VehiclePhoto], [VehiclePrice], [VehicleActive]) VALUES (2, N'İzmir', N'Karşıyaka', N'Mercedes', N'c63', N'kırmızı', N'Dizel', N'4.5', N'/vehicleimages/a3.jpg', 222, 0)
INSERT [dbo].[Vehicles] ([VehicleID], [CityName], [District], [VehicleBrand], [VehicleModel], [VehicleColor], [VehicleFuel], [VehicleFuelAmount], [VehiclePhoto], [VehiclePrice], [VehicleActive]) VALUES (40, N'Aksaray', N'ÖZALP', N'Mercedes', N'm3', N'Siyah', N'Benzin', N'3.5', N'\VehicleImages\19593b55-f76f-4716-87a0-2b57a319847f.jpg', 1323, 0)
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Cities] FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([CityID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Cities]
GO
ALTER TABLE [dbo].[VehiclePhotos]  WITH CHECK ADD  CONSTRAINT [FK_VehiclePhotos_Vehicles] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehiclePhotos] CHECK CONSTRAINT [FK_VehiclePhotos_Vehicles]
GO
